@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #facb40 !important;
}
.bg-success {
  background-color: #f3c649 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #faaf40 !important;
}
.bg-danger {
  background-color: #41bec4 !important;
}
.btn-primary {
  background-color: #facb40;
  border-color: #facb40;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7ae06;
  border-color: #e7ae06;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e7ae06 !important;
  border-color: #e7ae06 !important;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-danger {
  background-color: #41bec4;
  border-color: #41bec4;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #2c888d;
  border-color: #2c888d;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2c888d !important;
  border-color: #2c888d !important;
}
.btn-primary-outline {
  background: none;
  border-color: #cf9c05;
  color: #cf9c05;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #facb40;
  border-color: #facb40;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #facb40 !important;
  border-color: #facb40 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #267579;
  color: #267579;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #41bec4;
  border-color: #41bec4;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #41bec4 !important;
  border-color: #41bec4 !important;
}
.text-primary {
  color: #facb40 !important;
}
.text-success {
  color: #f3c649 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #41bec4 !important;
}
.alert-success {
  background-color: #f3c649;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #faaf40;
}
.alert-danger {
  background-color: #41bec4;
}
.btn-social {
  border-color: #facb40;
}
.btn-social:hover {
  background: #facb40;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #facb40;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #facb40;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #facb40;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #facb40;
}
.lead a,
.lead a:hover {
  color: #facb40;
}
.lead blockquote {
  border-color: #facb40;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a2dfe2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #facb40;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-g .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-g .close-icon::before,
#ext_menu-g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-g .link,
#ext_menu-g .dropdown-item {
  color: #ffffff;
}
#ext_menu-g .link {
  font-size: 1.05rem;
}
#ext_menu-g .dropdown-item,
#ext_menu-g .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-g .link:hover,
#ext_menu-g .dropdown-item:hover,
#ext_menu-g .link:focus,
#ext_menu-g .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-g .nav-dropdown-sm .link:focus,
#ext_menu-g .nav-dropdown-sm .link:hover,
#ext_menu-g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-g .navbar,
#ext_menu-g .nav-dropdown-sm,
#ext_menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-g .bg-color.transparent.opened .link:hover,
#ext_menu-g .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#header1-1b .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: right;
}
#header1-1b .mbr-section-lead {
  text-align: right;
  font-family: 'Lora', serif;
}
#header1-1b .mbr-section-lead SPAN {
  font-size: 20px;
  text-align: right;
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header1-1b .btn {
  font-size: 15px;
}

#ext_menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-24 .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-24 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-24 .close-icon::before,
#ext_menu-24 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-24 .link,
#ext_menu-24 .dropdown-item {
  color: #ffffff;
}
#ext_menu-24 .link {
  font-size: 1.05rem;
}
#ext_menu-24 .dropdown-item,
#ext_menu-24 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-24 .link:hover,
#ext_menu-24 .dropdown-item:hover,
#ext_menu-24 .link:focus,
#ext_menu-24 .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-24 .nav-dropdown-sm .link:focus,
#ext_menu-24 .nav-dropdown-sm .link:hover,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-24 .navbar,
#ext_menu-24 .nav-dropdown-sm,
#ext_menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-24 .bg-color.transparent.opened .link:hover,
#ext_menu-24 .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#msg-box8-2l .mbr-section-title,
#msg-box8-2l p {
  color: #fff;
}

#ext_menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2s .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-2s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2s .close-icon::before,
#ext_menu-2s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2s .link,
#ext_menu-2s .dropdown-item {
  color: #ffffff;
}
#ext_menu-2s .link {
  font-size: 1.05rem;
}
#ext_menu-2s .dropdown-item,
#ext_menu-2s .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-2s .link:hover,
#ext_menu-2s .dropdown-item:hover,
#ext_menu-2s .link:focus,
#ext_menu-2s .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-2s .link[aria-expanded="true"],
#ext_menu-2s .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2s .nav-dropdown-sm .link:focus,
#ext_menu-2s .nav-dropdown-sm .link:hover,
#ext_menu-2s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2s .navbar,
#ext_menu-2s .nav-dropdown-sm,
#ext_menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2s .bg-color.transparent.opened .link:hover,
#ext_menu-2s .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-2s .link[aria-expanded="true"],
#ext_menu-2s .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#msg-box8-2u .mbr-section-title,
#msg-box8-2u p {
  color: #fff;
}
#msg-box8-2u .lead {
  color: #ffffff;
  text-align: center;
}

#msg-box8-2y .mbr-section-title,
#msg-box8-2y p {
  color: #fff;
}
#msg-box8-2y .lead {
  color: #ffffff;
  text-align: center;
}
#ext_menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2w .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-2w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2w .close-icon::before,
#ext_menu-2w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2w .link,
#ext_menu-2w .dropdown-item {
  color: #ffffff;
}
#ext_menu-2w .link {
  font-size: 1.05rem;
}
#ext_menu-2w .dropdown-item,
#ext_menu-2w .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-2w .link:hover,
#ext_menu-2w .dropdown-item:hover,
#ext_menu-2w .link:focus,
#ext_menu-2w .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2w .nav-dropdown-sm .link:focus,
#ext_menu-2w .nav-dropdown-sm .link:hover,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2w .navbar,
#ext_menu-2w .nav-dropdown-sm,
#ext_menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2w .bg-color.transparent.opened .link:hover,
#ext_menu-2w .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}

#ext_menu-2h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2h .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-2h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2h .close-icon::before,
#ext_menu-2h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2h .link,
#ext_menu-2h .dropdown-item {
  color: #ffffff;
}
#ext_menu-2h .link {
  font-size: 1.05rem;
}
#ext_menu-2h .dropdown-item,
#ext_menu-2h .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-2h .link:hover,
#ext_menu-2h .dropdown-item:hover,
#ext_menu-2h .link:focus,
#ext_menu-2h .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-2h .link[aria-expanded="true"],
#ext_menu-2h .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2h .nav-dropdown-sm .link:focus,
#ext_menu-2h .nav-dropdown-sm .link:hover,
#ext_menu-2h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2h .navbar,
#ext_menu-2h .nav-dropdown-sm,
#ext_menu-2h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2h .bg-color.transparent.opened .link:hover,
#ext_menu-2h .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-2h .link[aria-expanded="true"],
#ext_menu-2h .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#msg-box8-32 .mbr-section-title,
#msg-box8-32 p {
  color: #fff;
}


#ext_menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1m .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-1m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1m .close-icon::before,
#ext_menu-1m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1m .link,
#ext_menu-1m .dropdown-item {
  color: #ffffff;
}
#ext_menu-1m .link {
  font-size: 1.05rem;
}
#ext_menu-1m .dropdown-item,
#ext_menu-1m .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-1m .link:hover,
#ext_menu-1m .dropdown-item:hover,
#ext_menu-1m .link:focus,
#ext_menu-1m .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1m .nav-dropdown-sm .link:focus,
#ext_menu-1m .nav-dropdown-sm .link:hover,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1m .navbar,
#ext_menu-1m .nav-dropdown-sm,
#ext_menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1m .bg-color.transparent.opened .link:hover,
#ext_menu-1m .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#header1-1x .mbr-section-title {
  font-size: 72px;
}
#header1-1x .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: left;
}












#ext_menu-1c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1c .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-1c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1c .close-icon::before,
#ext_menu-1c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1c .link,
#ext_menu-1c .dropdown-item {
  color: #ffffff;
}
#ext_menu-1c .link {
  font-size: 1.05rem;
}
#ext_menu-1c .dropdown-item,
#ext_menu-1c .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-1c .link:hover,
#ext_menu-1c .dropdown-item:hover,
#ext_menu-1c .link:focus,
#ext_menu-1c .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1c .nav-dropdown-sm .link:focus,
#ext_menu-1c .nav-dropdown-sm .link:hover,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1c .navbar,
#ext_menu-1c .nav-dropdown-sm,
#ext_menu-1c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1c .bg-color.transparent.opened .link:hover,
#ext_menu-1c .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-1c .link[aria-expanded="true"],
#ext_menu-1c .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#header3-1e H3 {
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
}
#header3-1f .mbr-section-title,
#header3-1f .mbr-section-subtitle {
  text-align: center;
}
#header3-1f SMALL {
  font-family: 'Lora', serif;
}
#header3-1f H3 {
  font-family: 'Open Sans', sans-serif;
}
#content1-1g P {
  font-family: 'Open Sans', sans-serif;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#header3-1i H3 {
  font-family: 'Open Sans', sans-serif;
}
#content1-1j P {
  font-family: 'Open Sans', sans-serif;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 SMALL {
  font-family: 'Lora', serif;
}
#header3-29 H3 {
  font-family: 'Open Sans', sans-serif;
}
#content1-2b P {
  font-family: 'Open Sans', sans-serif;
}
#header3-1z .mbr-section-title,
#header3-1z .mbr-section-subtitle {
  text-align: center;
}
#header3-1z H3 {
  font-family: 'Open Sans', sans-serif;
}
#content1-22 P {
  font-family: 'Open Sans', sans-serif;
}

#ext_menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-37 .navbar-caption {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-37 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-37 .close-icon::before,
#ext_menu-37 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-37 .link,
#ext_menu-37 .dropdown-item {
  color: #ffffff;
}
#ext_menu-37 .link {
  font-size: 1.05rem;
}
#ext_menu-37 .dropdown-item,
#ext_menu-37 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-37 .link:hover,
#ext_menu-37 .dropdown-item:hover,
#ext_menu-37 .link:focus,
#ext_menu-37 .dropdown-item:focus {
  color: #facb40;
}
#ext_menu-37 .link[aria-expanded="true"],
#ext_menu-37 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-37 .nav-dropdown-sm .link:focus,
#ext_menu-37 .nav-dropdown-sm .link:hover,
#ext_menu-37 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-37 .navbar,
#ext_menu-37 .nav-dropdown-sm,
#ext_menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-37 .bg-color.transparent.opened .link:hover,
#ext_menu-37 .bg-color.transparent.opened .link:focus {
  color: #facb40;
}
#ext_menu-37 .link[aria-expanded="true"],
#ext_menu-37 .dropdown-item[aria-expanded="true"] {
  color: #facb40!important;
}
#form1-39 .form-control-label {
  color: #232323;
}
